<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdhjV01uYKRuGPAiS247TH0FM3rNNA9IE</string>
	<key>GCM_SENDER_ID</key>
	<string>107108353240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mormdn.resume</string>
	<key>PROJECT_ID</key>
	<string>m0rmdn</string>
	<key>STORAGE_BUCKET</key>
	<string>m0rmdn.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107108353240:ios:27ae9d26d26e566ede03ad</string>
	<key>DATABASE_URL</key>
	<string>https://m0rmdn-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>